<% include partials/head %>

    <div class="jumbotron">
        <div class="container">
            <h1>HTML, CSS, JavaScript and C#/ASP.NET.</h1>
            <p>Attempting to combine them with mixed results.</p>
            <br>
            <p><a class="btn btn-primary btn-lg" href="https://github.com/johnmcraig" role="button">View my Portfolio »</a>                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col col-md-4">
                <h1>Blog Posts</h1>

                <div>
                    <a href="/newpost">Create New Post</a>
                </div>

                <section class="blogposts">

                    <% for(var i =0; i < posts.length; i++) { %>
                        <h2>
                            <%= posts[i].title %>
                        </h2>

                        <div>
                            By:
                            <%= posts[i].author.firstName %>
                                <%= posts[i].author.lastName %>
                                    Posting Date:
                                    <%= posts[i].pubDate %>
                                        Contact Email:
                                        <%= posts[i].author.email %>
                        </div>


                        <p>
                            <%- posts[i].content %>
                        </p>
                        <% } %>
                </section>

            </div>
        </div>

    </div>

    <% include partials/footer %>